.collapse {
  width: 100%;
  margin: 10px 0;

  .collapse-header {
    background-color: #ff6060;
    color: white;
    padding: 15px 20px;
    font-size: 17px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .arrow {
      transition: transform 0.3s ease;
    }

    .arrow.open {
      transform: rotate(180deg);
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    background: #f6f6f6;
    transition: max-height 0.4s ease, padding 0.3s ease;
    font-size: 15px;
    padding: 0 20px;

    &.open {
      max-height: 500px;
      padding: 15px 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
