.error-page {
  text-align: center;
  color: #ff6060;
  margin: 100px 20px;

  h1 {
      font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 24px;
    margin: 50px 0;
  }

  a {
    color: black;
    text-decoration: underline;
    font-size: 16px;  
  }
}

@media (max-width: 768px) {
  .error-page {
    margin: 100px 20px;

    h1 {
      font-size: 96px;
    }

    p {
      font-size: 18px;
      margin: 30px 0;
    }

    a {
      font-size: 14px;
    }
  }
}

